Repository trustyai-explainability/trustyai-explainability, pull requests merged in 2023-11, with the labels that each got.

#423 Add multiple-tensor output and n-dimensional input support
  explainability-connectors/src/main/java/org/kie/trustyai/connectors/kserve/v2/TensorConverter.java
  explainability-connectors/src/test/java/org/kie/trustyai/connectors/kserve/v2/TensorConverterTest.java
Labels: lgtm, approved, ok-to-test

#420 Make raw-converted floats little-endian
  explainability-connectors/src/main/java/org/kie/trustyai/connectors/kserve/v2/RawConverter.java
  explainability-connectors/src/test/java/org/kie/trustyai/connectors/kserve/v2/TensorConverterTest.java
  explainability-connectors/src/test/resources/fp32_output_payload
Labels: lgtm, approved, ok-to-test

#432 Remove specific operator pod count checks in CI
  tests/basictests/trustyai_biased_models.sh
  tests/basictests/trustyai_operator.sh
Labels: lgtm, approved, ok-to-test

#402 FAI-983 document FourierMMD parameters
  explainability-core/src/main/java/org/kie/trustyai/metrics/drift/fouriermmd/FourierMMD.java
Labels: lgtm, approved, ok-to-test

#431 Fix upload of Nx1 tensors in upload endpoint
  explainability-service/src/main/java/org/kie/trustyai/service/data/utils/UploadUtils.java
  explainability-service/src/test/java/org/kie/trustyai/service/utils/KserveRestPayloads.java
Labels: lgtm, approved, ok-to-test

#442 Bump upstream to quarkus 3.2.7
  explainability-service/pom.xml
  pom.xml
Labels: lgtm, approved

#441 Add BLEU implementation
  explainability-core/pom.xml
  explainability-core/src/main/java/org/kie/trustyai/metrics/language/AbstractNLPPerformanceMetric.java
  explainability-core/src/main/java/org/kie/trustyai/metrics/language/NLPPerformanceMetric.java
  explainability-core/src/main/java/org/kie/trustyai/metrics/language/bleu/BLEU.java
  explainability-core/src/main/java/org/kie/trustyai/metrics/language/bleu/smoothing/SmoothingFunction.java
  explainability-core/src/main/java/org/kie/trustyai/metrics/language/bleu/smoothing/SmoothingFunctionEpsilon.java
  explainability-core/src/main/java/org/kie/trustyai/metrics/language/bleu/smoothing/SmoothingOriginal.java
  explainability-core/src/main/java/org/kie/trustyai/metrics/language/utils/NGramUtils.java
  explainability-core/src/main/java/org/kie/trustyai/metrics/language/utils/NLPUtils.java
  explainability-core/src/main/java/org/kie/trustyai/metrics/language/utils/TokenizerUtils.java
  explainability-core/src/main/resources/opennlp/models/en-token.bin
  explainability-core/src/test/java/org/kie/trustyai/metrics/language/NGramUtilsTest.java
  explainability-core/src/test/java/org/kie/trustyai/metrics/language/nlp/BLEUTest.java
  explainability-core/src/test/java/org/kie/trustyai/metrics/language/nlp/NLPUtilsTest.java
  pom.xml
Labels: kind/enhancement, lgtm, approved, ok-to-test

#445 Update README.md
  explainability-service/README.md
Labels: documentation, kind/enhancement, lgtm, approved

#450 Add check for TrustyAIService conditions
  tests/basictests/trustyai_biased_models.sh
Labels: kind/enhancement, lgtm, approved, ok-to-test

#451 Add SPD and DIR validation test with AIF data
  explainability-core/src/test/java/org/kie/trustyai/validation/explainability/metrics/FairnessAIFValidationTest.java
  explainability-core/src/test/resources/validation/README.md
  explainability-core/src/test/resources/validation/extdata/data.csv
Labels: kind/enhancement, approved

#458 Handle service image name specification on non-TrustyAI-originating workflows
  tests/scripts/install.sh
Labels: approved

#460 Remove duplicate http2 configuration
  explainability-service/src/main/resources/application.properties
Labels: kind/bug, lgtm, approved, ok-to-test

#456 Add support for KServe's "inputs" format
  explainability-service/src/main/java/org/kie/trustyai/service/data/utils/KServeInferencePayloadReconciler.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/consumer/InferenceLoggerGeneral.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/consumer/InferenceLoggerInputV2.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/consumer/InferenceLoggerOutput.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/consumer/CloudEventConsumerTest.java
Labels: kind/bug, lgtm, approved, ok-to-test

#439 Implement Word Error Rate calculation
  explainability-core/pom.xml
  explainability-core/src/main/java/org/kie/trustyai/metrics/language/AbstractNLPPerformanceMetric.java
  explainability-core/src/main/java/org/kie/trustyai/metrics/language/NLPPerformanceMetric.java
  explainability-core/src/main/java/org/kie/trustyai/metrics/language/bleu/BLEU.java
  explainability-core/src/main/java/org/kie/trustyai/metrics/language/utils/AlignedTokenSequences.java
  explainability-core/src/main/java/org/kie/trustyai/metrics/language/utils/TokenSequenceAligner.java
  explainability-core/src/main/java/org/kie/trustyai/metrics/language/utils/TokenSequenceAlignmentCounters.java
  explainability-core/src/main/java/org/kie/trustyai/metrics/language/wer/WordErrorRate.java
  explainability-core/src/main/java/org/kie/trustyai/metrics/language/wer/WordErrorRateResult.java
  explainability-core/src/test/java/org/kie/trustyai/metrics/language/nlp/BLEUTest.java
  explainability-core/src/test/java/org/kie/trustyai/metrics/language/utils/TokenSequenceAlignerTest.java
  explainability-core/src/test/java/org/kie/trustyai/metrics/language/wer/WordErrorRateTest.java
Labels: lgtm, approved, ok-to-test

#461 Request token from oauth directly
  tests/basictests/trustyai_biased_models.sh
  tests/basictests/trustyai_operator.sh
Labels: kind/bug, pipeline, lgtm, approved, ok-to-test

#462 Get CI user token from service account
  tests/basictests/trustyai_biased_models.sh
  tests/basictests/trustyai_operator.sh
Labels: lgtm, approved, ok-to-test
