Repository trustyai-explainability/trustyai-explainability, pull requests merged in 2023-10, with the labels that each got.

#383 Added custom image support to local CI
  tests/Makefile
  tests/README.md
  tests/scripts/install.sh
  tests/scripts/installandtest.sh
Labels: approved, ok-to-test

#386 Update CI for new operator image spec
  tests/Makefile
  tests/resources/trustyai/trustyai_operator_kfdef.yaml
  tests/scripts/install.sh
  tests/scripts/installandtest.sh
Labels: lgtm, approved, ok-to-test

#387 Add extra protection for non-set images
  tests/scripts/installandtest.sh
Labels: lgtm, approved, ok-to-test

#382 FourierMMD Refactor + Optimization
  explainability-core/src/main/java/org/kie/trustyai/explainability/model/Dataframe.java
  explainability-core/src/main/java/org/kie/trustyai/metrics/drift/fouriermmd/FourierMMD.java
  explainability-core/src/main/java/org/kie/trustyai/metrics/drift/fouriermmd/FourierMMDFitting.java
  explainability-core/src/main/java/org/kie/trustyai/metrics/drift/fouriermmd/FourierMMDResult.java
  explainability-core/src/test/java/org/kie/trustyai/metrics/drift/fouriermmd/FourierMMDTest.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/metrics/drift/FourierMMDEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/data/statistics/FourierMMDValuesDeserializer.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/metrics/drift/fouriermmd/FourierMMDMetricRequest.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/metrics/drift/fouriermmd/FourierMMDParameters.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/metrics/drift/FourierMMDEndpointTest.java
Labels: approved, ok-to-test

#388 Fix Multi-output data extraction bug in parser
  explainability-connectors/src/main/java/org/kie/trustyai/connectors/kserve/v2/TensorConverter.java
Labels: approved

#389 FAI-983 bug and additional test
  explainability-core/src/main/java/org/kie/trustyai/metrics/drift/fouriermmd/FourierMMD.java
  explainability-core/src/test/java/org/kie/trustyai/metrics/drift/fouriermmd/FourierMMDTest.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/metrics/drift/FourierMMDEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/metrics/drift/fouriermmd/FourierMMDMetricRequest.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/metrics/drift/fouriermmd/FourierMMDParameters.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/metrics/drift/FourierMMDEndpointTest.java
Labels: lgtm, ok-to-test, needs-ok-to-test

#365 Ground Truth Uploading
  explainability-connectors/src/test/java/org/kie/trustyai/connectors/kserve/v2/KServeFormatsTest.java
  explainability-core/src/main/java/org/kie/trustyai/explainability/model/Dataframe.java
  explainability-core/src/main/java/org/kie/trustyai/explainability/model/PredictionMetadata.java
  explainability-core/src/main/java/org/kie/trustyai/explainability/utils/IOUtils.java
  explainability-core/src/test/java/org/kie/trustyai/explainability/model/DataframeTest.java
  explainability-core/src/test/java/org/kie/trustyai/explainability/utils/IOUtilsTest.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/DataSource.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/utils/CSVUtils.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/data/DataEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/data/upload/ModelInferJointPayload.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/data/upload/TensorPayload.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/service/Schema.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/service/SchemaItem.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/data/DataEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/utils/KserveRestPayloads.java
Labels: lgtm, approved, ok-to-test

#397 Standardize inbound MM Resolved Model IDs to vModelIDs
  explainability-service/src/main/java/org/kie/trustyai/service/data/utils/ModelMeshInferencePayloadReconciler.java
  explainability-service/src/test/java/org/kie/trustyai/service/data/utils/ModelMeshInferencePayloadReconcilerTest.java
Labels: approved, ok-to-test

#398 Refactor Dataframe Metadata
  explainability-core/src/main/java/org/kie/trustyai/explainability/model/Dataframe.java
  explainability-core/src/main/java/org/kie/trustyai/explainability/model/DataframeMetadata.java
  explainability-core/src/test/java/org/kie/trustyai/explainability/model/DataframeMetadataTest.java
Labels: lgtm, approved, ok-to-test

#391 Add TrustyAI Service pod logs to CI artifacts
  tests/basictests/trustyai_biased_models.sh
  tests/basictests/trustyai_operator.sh
Labels: approved, ok-to-test

#406 Upgrade io.grpc version to 1.59.0
  explainability-connectors/pom.xml
Labels: kind/bug, lgtm, approved, ok-to-test, kind/dependencies

#412 Remove specific Vertx 4.4.5 requirement
  explainability-service/pom.xml
Labels: lgtm, approved, ok-to-test

#419 Refactor name mapping retrieval in schema
  explainability-service/src/main/java/org/kie/trustyai/service/data/utils/CSVUtils.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/metrics/RequestReconciler.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/service/Schema.java
  explainability-service/src/main/java/org/kie/trustyai/service/validators/generic/GenericValidationUtils.java
  explainability-service/src/test/java/org/kie/trustyai/service/data/parsers/CSVParserTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/mocks/MockDatasource.java
Labels: lgtm, approved, ok-to-test

#426 Rearrange maven repo ordering
  pom.xml
Labels: lgtm, approved

#427 Use quarkus platform property
  explainability-service/pom.xml
Labels: lgtm, approved
