Repository trustyai-explainability/trustyai-explainability, pull requests merged in 2023-09, with the labels that each got.

#341 Added data tagging + upload endpoint
  explainability-core/src/main/java/org/kie/trustyai/explainability/model/Dataframe.java
  explainability-core/src/main/java/org/kie/trustyai/explainability/model/DatapointSource.java
  explainability-core/src/main/java/org/kie/trustyai/explainability/model/PredictionMetadata.java
  explainability-core/src/test/java/org/kie/trustyai/explainability/model/DataframeTest.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/DataSource.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/parsers/CSVParser.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/utils/InferencePayloadReconciler.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/consumer/ConsumerEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/service/ServiceMetadataEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/consumer/upload/ModelInferJointPayload.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/consumer/upload/ModelInferRequestPayload.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/consumer/upload/ModelInferResponsePayload.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/consumer/upload/TensorPayload.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/consumer/upload/UploadUtils.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/service/DataTagging.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/consumer/ConsumerEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/metrics/fairness/group/DisparateImpactRatioEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/metrics/fairness/group/GroupStatisticalParityDifferenceEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/service/ServiceMetadataEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/utils/KserveRestPayloads.java
  tests/resources/data/upload/batch_01_upload.json
  tests/resources/data/upload/dummy_data_upload.json
Labels: lgtm, approved, ok-to-test

#352 Add Drift Metric category + the MeanShift T-Test Drift Metric
  explainability-core/src/main/java/org/kie/trustyai/explainability/model/Dataframe.java
  explainability-core/src/main/java/org/kie/trustyai/metrics/drift/meanshift/Meanshift.java
  explainability-core/src/main/java/org/kie/trustyai/metrics/drift/meanshift/MeanshiftFitting.java
  explainability-core/src/main/java/org/kie/trustyai/metrics/drift/meanshift/MeanshiftResult.java
  explainability-core/src/test/java/org/kie/trustyai/metrics/drift/meanshift/MeanshiftTest.java
  explainability-service/src/main/java/org/kie/trustyai/service/config/metrics/MetricsConfig.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/metrics/BaseEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/metrics/MetricsDirectory.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/metrics/drift/DriftEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/metrics/drift/MeanshiftEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/metrics/fairness/group/DisparateImpactRatioEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/metrics/fairness/group/GroupEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/metrics/fairness/group/GroupStatisticalParityDifferenceEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/metrics/identity/IdentityEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/data/statistics/StatisticalSummaryValuesDeserializer.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/metrics/BaseMetricResponse.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/metrics/drift/DriftMetricRequest.java
  explainability-service/src/main/java/org/kie/trustyai/service/prometheus/MetricValueCarrier.java
  explainability-service/src/main/java/org/kie/trustyai/service/prometheus/PrometheusPublisher.java
  explainability-service/src/main/java/org/kie/trustyai/service/prometheus/PrometheusScheduler.java
  explainability-service/src/main/java/org/kie/trustyai/service/validators/metrics/drift/DriftMetricRequestValidator.java
  explainability-service/src/main/java/org/kie/trustyai/service/validators/metrics/drift/ValidDriftMetricRequest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/consumer/ConsumerEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/metrics/drift/MeanshiftEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/mocks/MockDatasource.java
Labels: lgtm, approved, ok-to-test

#355 Establish consistent use of 400 or 500 error codes
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/consumer/ConsumerEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/data/DataEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/explainers/global/GlobalExplainerEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/explainers/local/LocalExplainerEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/metrics/BaseEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/metrics/drift/DriftEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/metrics/fairness/group/GroupEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/metrics/identity/IdentityEndpoint.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/explainers/global/AggregatedLimeEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/explainers/global/PartialDependencePlotEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/explainers/local/CounterfactualEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/explainers/local/LimeEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/explainers/local/ShapEndpointTest.java
Labels: approved, ok-to-test

#361 Add BasePrediction#toString
  explainability-core/src/main/java/org/kie/trustyai/explainability/model/BasePrediction.java
  explainability-core/src/main/java/org/kie/trustyai/explainability/model/PredictionOutput.java
Labels: kind/enhancement, lgtm, approved, ok-to-test

#358 Broader tagging
  explainability-core/src/main/java/org/kie/trustyai/explainability/model/Dataframe.java
  explainability-core/src/main/java/org/kie/trustyai/explainability/model/DatapointSource.java
  explainability-core/src/main/java/org/kie/trustyai/explainability/model/PredictionMetadata.java
  explainability-core/src/test/java/org/kie/trustyai/explainability/model/DataframeTest.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/parsers/CSVParser.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/utils/DownloadUtils.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/utils/InferencePayloadReconciler.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/data/DataEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/metrics/drift/MeanshiftEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/service/ServiceMetadataEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/validators/generic/GenericValidationUtils.java
  explainability-service/src/main/java/org/kie/trustyai/service/validators/metrics/drift/DriftMetricRequestValidator.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/data/DataEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/metrics/drift/MeanshiftEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/metrics/fairness/group/DisparateImpactRatioEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/metrics/fairness/group/GroupStatisticalParityDifferenceEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/service/ServiceMetadataEndpointTest.java
Labels: approved, ok-to-test

#363 TrustyAI service KServe integration
  explainability-service/pom.xml
  explainability-service/src/main/java/org/kie/trustyai/service/data/utils/InferencePayloadReconciler.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/utils/KServeInferencePayloadReconciler.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/utils/ModelMeshInferencePayloadReconciler.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/consumer/CloudEventConsumer.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/consumer/ConsumerEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/consumer/CloudEventData.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/consumer/InferenceLoggerInput.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/consumer/InferenceLoggerOutput.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/consumer/InferencePartialPayload.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/consumer/KServeInputPayload.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/consumer/KServeOutputPayload.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/consumer/PartialPayload.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/consumer/CloudEventConsumerTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/consumer/ConsumerEndpointFormatsTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/mocks/MockKServeInputPayload.java
  explainability-service/src/test/java/org/kie/trustyai/service/mocks/MockKServeOutputPayload.java
  explainability-service/src/test/java/org/kie/trustyai/service/mocks/MockKServePayload.java
Labels: kind/enhancement, approved

#376 Log the operator logs to artifacts
  tests/basictests/trustyai_biased_models.sh
  tests/basictests/trustyai_operator.sh
  tests/resources/models/default_sklearn_model.yaml
  tests/resources/models/minio_sklearn_mlserver_model.yaml
  tests/resources/trustyai/odh-mlserver-1.x.yaml
Labels: approved, ok-to-test

#378 Fix metric crashes after data deletion or too small dataframe sizes
  explainability-core/src/main/java/org/kie/trustyai/metrics/drift/meanshift/Meanshift.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/DataSource.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/metrics/drift/MeanshiftEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/prometheus/PrometheusScheduler.java
Labels: lgtm, approved, ok-to-test

#381 Improved endpoint filtering by prediction ID
  explainability-core/src/main/java/org/kie/trustyai/explainability/model/Dataframe.java
  explainability-core/src/test/java/org/kie/trustyai/explainability/model/DataframeTest.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/explainers/local/LocalExplainerEndpoint.java
Labels: kind/enhancement, ok-to-test

#367 FAI-983 Implement FourierMMD drift metric
  explainability-core/src/main/java/org/kie/trustyai/explainability/model/Dataframe.java
  explainability-core/src/main/java/org/kie/trustyai/metrics/drift/fouriermmd/FourierMMD.java
  explainability-core/src/main/java/org/kie/trustyai/metrics/drift/fouriermmd/FourierMMDFitting.java
  explainability-core/src/main/java/org/kie/trustyai/metrics/drift/fouriermmd/FourierMMDResult.java
  explainability-core/src/test/java/org/kie/trustyai/metrics/drift/fouriermmd/FourierMMDTest.java
  explainability-core/src/test/resources/test_ts_x.csv
  explainability-core/src/test/resources/train_ts_x.csv
  explainability-core/src/test/resources/valid_ts_x.csv
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/metrics/drift/DriftEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/metrics/drift/FourierMMDEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/metrics/drift/MeanshiftEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/data/statistics/FourierMMDValuesDeserializer.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/metrics/BaseMetricRequest.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/metrics/drift/DriftMetricRequest.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/metrics/drift/fouriermmd/FourierMMDMetricRequest.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/metrics/drift/fouriermmd/FourierMMDParameters.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/metrics/drift/meanshift/MeanshiftMetricRequest.java
  explainability-service/src/main/java/org/kie/trustyai/service/validators/metrics/drift/DriftMetricRequestValidator.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/metrics/drift/FourierMMDEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/metrics/drift/MeanshiftEndpointTest.java
  explainability-service/src/test/resources/train_ts_x.csv
  explainability-service/src/test/resources/valid_ts_x.csv
Labels: approved, ok-to-test

#380 Fix null value enumeration merging
  explainability-service/src/main/java/org/kie/trustyai/service/data/metadata/Metadata.java
  explainability-service/src/test/java/org/kie/trustyai/service/data/metadata/MetadataTest.java
Labels: lgtm, approved, ok-to-test

#379 Fix hash collisions from namedValue metrics
  explainability-service/src/main/java/org/kie/trustyai/service/prometheus/PrometheusPublisher.java
Labels: lgtm, approved, ok-to-test

#375 FAI-984 implements KSTest and approxKSTest drift metrics
  explainability-core/src/main/java/org/kie/trustyai/metrics/drift/HypothesisTestResult.java
  explainability-core/src/main/java/org/kie/trustyai/metrics/drift/kstest/ApproxKSFitting.java
  explainability-core/src/main/java/org/kie/trustyai/metrics/drift/kstest/ApproxKSTest.java
  explainability-core/src/main/java/org/kie/trustyai/metrics/drift/kstest/GKSketch.java
  explainability-core/src/main/java/org/kie/trustyai/metrics/drift/kstest/KSTest.java
  explainability-core/src/test/java/org/kie/trustyai/metrics/drift/kstest/ApproxKSTestTest.java
  explainability-core/src/test/java/org/kie/trustyai/metrics/drift/kstest/GKSketchTest.java
  explainability-core/src/test/java/org/kie/trustyai/metrics/drift/kstest/KSTestTest.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/metrics/drift/ApproxKSTestEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/metrics/drift/KSTestEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/data/statistics/GKSketchesDeserializer.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/metrics/drift/DriftMetricRequest.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/metrics/drift/kstest/ApproxKSTestMetricRequest.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/metrics/drift/kstest/KSTestMetricRequest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/metrics/drift/ApproxKSTestEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/metrics/drift/KSTestEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/mocks/MockDatasource.java
Labels: ok-to-test
