Repository trustyai-explainability/trustyai-explainability, pull requests merged in 2024-08, with the labels that each got.

#611 fix: Get LIME predictions from correct dataframe
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/explainers/local/LimeEndpoint.java
Labels: kind/bug, lgtm, approved

#619 CI: Use custom MM image to get TLS changes
  tests/basictests/perPR/trustyai_biased_models.sh
  tests/basictests/perPR/trustyai_operator.sh
  tests/resources/modelmesh/model-serving-config.yaml
Labels: lgtm, approved, ok-to-test

#615 Disable explainability endpoints
  explainability-service/src/main/resources/application.properties
Labels: kind/enhancement, lgtm, approved, ok-to-test

#599 Upgrade Quarkus to 3.8.5
  .github/workflows/CI.yaml
  explainability-connectors/pom.xml
  explainability-core/pom.xml
  explainability-service/pom.xml
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/consumer/CloudEventConsumerTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/consumer/cloudevent/CloudEventConsumerBaseTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/explainers/GrpcMockServer.java
  pom.xml
Labels: kind/enhancement, approved, ok-to-test, dependencies

#623 Enhancement: Add 404 response message
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/metrics/BaseEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/service/EndpointResponseFilter.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/metrics/fairness/group/DisparateImpactRatioEndpointBaseTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/metrics/fairness/group/GroupStatisticalParityDifferenceEndpointBaseTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/metrics/identity/IdentityEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/service/EndpointResponseFilterTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/profiles/flatfile/DisabledEndpointsTestProfile.java
  explainability-service/src/test/java/org/kie/trustyai/service/scenarios/nodata/DisparateImpactRatioEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/scenarios/nodata/GroupStatisticalParityDifferenceEndpointTest.java
Labels: lgtm, approved, ok-to-test

#621 CI: Migrate to Python framework
  tests/Dockerfile
  tests/Makefile
  tests/basictests/nightly/trustyai_multi_project.sh
  tests/basictests/perPR/trustyai_biased_models.sh
  tests/basictests/perPR/trustyai_operator.sh
  tests/resources/data/loan_default/batch_01.json
  tests/resources/data/loan_default/batch_02.json
  tests/resources/data/loan_default/batch_03.json
  tests/resources/data/loan_default/batch_04.json
  tests/resources/data/loan_default/batch_05.json
  tests/resources/data/loan_default/batch_06.json
  tests/resources/data/loan_default/batch_07.json
  tests/resources/data/loan_default/batch_08.json
  tests/resources/data/loan_default/batch_09.json
  tests/resources/data/loan_default/batch_10.json
  tests/resources/data/loan_default/batch_11.json
  tests/resources/data/loan_default/batch_12.json
  tests/resources/data/loan_default/batch_13.json
  tests/resources/data/loan_default/dummy_data.json
  tests/resources/data/loan_default/training_data.json
  tests/resources/data/loan_default_batched/batch_01.json
  tests/resources/data/loan_default_batched/batch_02.json
  tests/resources/data/loan_default_batched/batch_03.json
  tests/resources/data/loan_default_batched/batch_04.json
  tests/resources/data/loan_default_batched/batch_05.json
  tests/resources/data/loan_default_batched/batch_06.json
  tests/resources/data/loan_default_batched/batch_07.json
  tests/resources/data/loan_default_batched/batch_08.json
  tests/resources/data/loan_default_batched/batch_09.json
  tests/resources/data/loan_default_batched/batch_10.json
  tests/resources/data/loan_default_batched/batch_11.json
  tests/resources/data/loan_default_batched/batch_12.json
  tests/resources/data/loan_default_batched/batch_13.json
  tests/resources/data/upload/batch_01_upload.json
  tests/resources/data/upload/dummy_data_upload.json
  tests/resources/htpasswd.secret.yaml
  tests/resources/modelmesh/enable-uwm.yaml
  tests/resources/modelmesh/model-serving-config.yaml
  tests/resources/modelmesh/openvino-inference-service.yaml
  tests/resources/modelmesh/openvino-serving-runtime.yaml
  tests/resources/modelmesh/ovms-input.json
  tests/resources/modelmesh/sample-minio.yaml
  tests/resources/modelmesh/service_account.yaml
  tests/resources/models/default_sklearn_model.yaml
  tests/resources/models/loan_model_alpha.onnx
  tests/resources/models/loan_model_beta.onnx
  tests/resources/models/minio_sklearn_mlserver_model.yaml
  tests/resources/models/model0_onnx.yaml
  tests/resources/models/model1_onnx.yaml
  tests/resources/oauth-patch.htpasswd.json
  tests/resources/trustyai/data.json
  tests/resources/trustyai/odh-mlserver-1.x.yaml
  tests/resources/trustyai/ovms-1.x.yaml
  tests/resources/trustyai/sample-minio.yaml
  tests/resources/trustyai/secret.yaml
  tests/resources/trustyai/service_account.yaml
  tests/resources/trustyai/trustyai_crd.yaml
  tests/resources/utils/send_data_batch
  tests/scripts/installandtest.sh
Labels: lgtm, approved, ok-to-test

#624 feat: Enable bias/fairness endpoints
  explainability-service/src/main/resources/application.properties
Labels: lgtm

#625 fix: Disable explainability endpoints
  explainability-service/src/main/resources/application.properties
Labels: kind/enhancement, lgtm

#629 CI: Add variable to set pytest markers
  tests/Makefile
  tests/README.md
  tests/scripts/installandtest.sh
Labels: lgtm, approved, ok-to-test

#630 Unit testing: Add tests that attempt SQL injection to check DB security
  explainability-service/src/test/java/org/kie/trustyai/service/data/storage/hibernate/HibernateInjectionTest.java
Labels: lgtm, ok-to-test
