Repository trustyai-explainability/trustyai-explainability, pull requests merged in 2024-05, with the labels that each got.

#556 RHOAIENG-7036: Add more detail to invalid feature/output name errors
  explainability-service/src/main/java/org/kie/trustyai/service/validators/generic/GenericValidationUtils.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/metrics/identity/IdentityEndpointTest.java
Labels: lgtm, approved, ok-to-test

#557 Specify default endpoint flags
  explainability-service/src/main/resources/application.properties
Labels: lgtm, approved, ok-to-test

#559 RHOAIENG-7385 Add online Gaussian estimation
  explainability-core/src/main/java/org/kie/trustyai/statistics/DistributionParameters.java
  explainability-core/src/main/java/org/kie/trustyai/statistics/MultivariateOnlineEstimator.java
  explainability-core/src/main/java/org/kie/trustyai/statistics/distributions/gaussian/MultivariateGaussianParameters.java
  explainability-core/src/main/java/org/kie/trustyai/statistics/estimators/WelfordOnlineEstimator.java
  explainability-core/src/test/java/org/kie/trustyai/statistics/estimators/WelfordOnlineEstimatorTest.java
Labels: kind/enhancement, lgtm

#561 ROHAIENG-7437: Add SHAP streaming background generator
  explainability-core/src/main/java/org/kie/trustyai/explainability/local/shap/background/StreamingGenerator.java
  explainability-core/src/main/java/org/kie/trustyai/statistics/MultivariateOnlineEstimator.java
  explainability-core/src/main/java/org/kie/trustyai/statistics/distributions/gaussian/MultivariateGaussianParameters.java
  explainability-core/src/main/java/org/kie/trustyai/statistics/estimators/WelfordOnlineEstimator.java
  explainability-core/src/test/java/org/kie/trustyai/explainability/local/shap/background/StreamingGeneratorTest.java
Labels: kind/enhancement, lgtm, approved, ok-to-test
