Repository trustyai-explainability/trustyai-explainability, pull requests merged in 2024-04, with the labels that each got.

#547 Upgrade Quarkus from 3.2.11.Final to 3.2.12.Final
  explainability-service/pom.xml
Labels: lgtm, approved, dependencies

#544 RHOAIENG-5466: Add KServeV1HTTPPredictionProvider
  explainability-connectors/src/main/java/org/kie/trustyai/connectors/kserve/AbstractKServePredictionProvider.java
  explainability-connectors/src/main/java/org/kie/trustyai/connectors/kserve/KServeDatatype.java
  explainability-connectors/src/main/java/org/kie/trustyai/connectors/kserve/PayloadParser.java
  explainability-connectors/src/main/java/org/kie/trustyai/connectors/kserve/v1/KServeV1HTTPPayloadParser.java
  explainability-connectors/src/main/java/org/kie/trustyai/connectors/kserve/v1/KServeV1HTTPPredictionProvider.java
  explainability-connectors/src/main/java/org/kie/trustyai/connectors/kserve/v1/KServeV1RequestPayload.java
  explainability-connectors/src/main/java/org/kie/trustyai/connectors/kserve/v1/KServeV1ResponsePayload.java
  explainability-connectors/src/main/java/org/kie/trustyai/connectors/kserve/v2/KServeV2GRPCPredictionProvider.java
  explainability-connectors/src/main/java/org/kie/trustyai/connectors/kserve/v2/PayloadParser.java
  explainability-connectors/src/main/java/org/kie/trustyai/connectors/kserve/v2/TensorConverter.java
  explainability-connectors/src/test/java/org/kie/trustyai/connectors/kserve/v1/KServeV1HTTPPayloadParserTest.java
Labels: kind/enhancement, lgtm, approved, ok-to-test

#551 Fix: Resolve import errors in integration test module (#550)
  explainability-integrationtests/explainability-integrationtests-dmn/src/test/java/org/kie/trustyai/explainability/integrationtests/dmn/DummyDmnModelsLimeExplainerTest.java
  explainability-integrationtests/explainability-integrationtests-dmn/src/test/java/org/kie/trustyai/explainability/integrationtests/dmn/FraudScoringDmnLimeExplainerTest.java
  explainability-integrationtests/explainability-integrationtests-dmn/src/test/java/org/kie/trustyai/explainability/integrationtests/dmn/LoanEligibilityDmnLimeExplainerTest.java
  explainability-integrationtests/explainability-integrationtests-dmn/src/test/java/org/kie/trustyai/explainability/integrationtests/dmn/PrequalificationDmnLimeExplainerTest.java
  explainability-integrationtests/explainability-integrationtests-dmn/src/test/java/org/kie/trustyai/explainability/integrationtests/dmn/TrafficViolationDmnLimeExplainerTest.java
  explainability-integrationtests/explainability-integrationtests-opennlp/src/test/java/org/kie/trustyai/explainability/integrationtests/opennlp/OpenNLPLimeExplainerTest.java
Labels: lgtm, approved, ok-to-test

#552 Add KServe v1 HTTP parser optional output size
  explainability-arrow/pom.xml
  explainability-connectors/pom.xml
  explainability-connectors/src/main/java/org/kie/trustyai/connectors/kserve/PayloadParser.java
  explainability-connectors/src/main/java/org/kie/trustyai/connectors/kserve/v1/KServeV1HTTPPayloadParser.java
  explainability-connectors/src/main/java/org/kie/trustyai/connectors/kserve/v1/KServeV1HTTPPredictionProvider.java
  explainability-connectors/src/test/java/org/kie/trustyai/connectors/kserve/v1/JsonRequestHandler.java
  explainability-connectors/src/test/java/org/kie/trustyai/connectors/kserve/v1/KServeV1HTTPMockServer.java
  explainability-connectors/src/test/java/org/kie/trustyai/connectors/kserve/v1/KServeV1HTTPServerPayloadTest.java
  pom.xml
Labels: kind/enhancement, lgtm, ok-to-test

#553 fix: Consistent default naming for feature parsing
  explainability-connectors/src/main/java/org/kie/trustyai/connectors/kserve/PayloadParser.java
  explainability-connectors/src/main/java/org/kie/trustyai/connectors/kserve/v1/KServeV1HTTPPayloadParser.java
  explainability-connectors/src/main/java/org/kie/trustyai/connectors/kserve/v1/KServeV1RequestPayload.java
  explainability-connectors/src/main/java/org/kie/trustyai/connectors/kserve/v2/PayloadParser.java
  explainability-connectors/src/test/java/org/kie/trustyai/connectors/kserve/v1/KServeV1HTTPPayloadParserTest.java
Labels: kind/enhancement, lgtm, ok-to-test
