Repository trustyai-explainability/trustyai-explainability, pull requests merged in 2024-03, with the labels that each got.

#498 Add multi-namespace tests + periodic test designation
  tests/Makefile
  tests/basictests/nightly/trustyai_multi_project.sh
  tests/basictests/perPR/trustyai_biased_models.sh
  tests/basictests/perPR/trustyai_operator.sh
  tests/resources/modelmesh/model-serving-config.yaml
  tests/scripts/install.sh
  tests/setup/odh-core-dsci.yaml
  tests/setup/operatorsetup
  tests/util
Labels: approved, ok-to-test

#515 Increase default async timeout to 10
  explainability-core/src/main/java/org/kie/trustyai/explainability/Config.java
Labels: lgtm, approved, ok-to-test

#516 Add default max running time to counterfactual prediction
  explainability-core/src/main/java/org/kie/trustyai/explainability/model/CounterfactualPrediction.java
Labels: lgtm, approved, ok-to-test

#511 CI: Faster failures on operator installation failure, fix namespace cleanup
  tests/Makefile
  tests/scripts/installandtest.sh
Labels: lgtm, approved, ok-to-test

#518 RHOAIENG-4319: Update Quarkus from 3.2.7.Final to 3.2.9.Final
  explainability-service/pom.xml
Labels: kind/enhancement, lgtm, approved, ok-to-test, dependencies

#517 Make a detected failure of the ODH installation actually fail the CI test suite
  .gitignore
  tests/Dockerfile
  tests/scripts/install.sh
  tests/scripts/installandtest.sh
  tests/setup/operatorsetup
  tests/setup/pipelines-op-setup
Labels: approved, ok-to-test

#514 Remove `full` endpoint and related methods
  explainability-connectors/src/main/java/org/kie/trustyai/connectors/kserve/v2/KServeV2GRPCPredictionProvider.java
  explainability-connectors/src/main/java/org/kie/trustyai/connectors/kserve/v2/PayloadParser.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/utils/ModelMeshInferencePayloadReconciler.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/consumer/ConsumerEndpoint.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/consumer/ConsumerEndpointFormatsTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/consumer/ConsumerEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/scenarios/nodata/ConsumerEndpointTest.java
Labels: kind/enhancement, lgtm, approved, ok-to-test

#524 CI: Manually specify operator catalog source
  tests/scripts/install.sh
  tests/setup/operatorsetup
Labels: lgtm, approved

#520 Fix tensor name, add gRPC mock server.
  explainability-connectors/src/main/java/org/kie/trustyai/connectors/kserve/v2/KServeV2GRPCPredictionProvider.java
  explainability-connectors/src/main/java/org/kie/trustyai/connectors/kserve/v2/PayloadParser.java
  explainability-connectors/src/main/java/org/kie/trustyai/connectors/kserve/v2/TensorConverter.java
  explainability-core/src/main/java/org/kie/trustyai/explainability/model/Dataframe.java
  explainability-core/src/main/java/org/kie/trustyai/explainability/model/DataframeMetadata.java
  explainability-core/src/test/java/org/kie/trustyai/explainability/model/DataframeMetadataTest.java
  explainability-core/src/test/java/org/kie/trustyai/explainability/model/DataframeTest.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/DataSource.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/metadata/Metadata.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/utils/InferencePayloadReconciler.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/utils/KServeInferencePayloadReconciler.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/utils/ModelMeshInferencePayloadReconciler.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/consumer/ConsumerEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/explainers/ExplainerEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/explainers/local/LocalExplainerEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/explainers/local/TSSaliencyEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/explainers/SaliencyExplanationResponse.java
  explainability-service/src/test/java/org/kie/trustyai/service/data/metadata/legacy/v1/LegacyMetadataTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/consumer/ConsumerEndpointFormatsTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/explainers/GrpcMockServer.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/explainers/GrpcMockServerTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/explainers/local/LimeEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/mocks/MockInferenceServiceImpl.java
  explainability-service/src/test/resources/storage/data/v1/demo-loan-nn-onnx-beta-data.csv
  explainability-service/src/test/resources/storage/data/v1/demo-loan-nn-onnx-beta-internal_data.csv
  explainability-service/src/test/resources/storage/data/v1/demo-loan-nn-onnx-beta-metadata.json
Labels: kind/bug, kind/enhancement, approved, ok-to-test

#528 RHOAIENG-4483: Persist synthetic tag when tensor parameter present
  explainability-connectors/src/main/java/org/kie/trustyai/connectors/kserve/v2/KServeV2GRPCPredictionProvider.java
  explainability-core/src/main/java/org/kie/trustyai/explainability/model/PredictionMetadata.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/utils/ModelMeshInferencePayloadReconciler.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/explainers/local/LocalExplainerEndpoint.java
  explainability-service/src/test/java/org/kie/trustyai/service/data/metadata/legacy/v1/LegacyMetadataTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/consumer/ConsumerEndpointRawTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/explainers/local/LimeEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/mocks/MockInferenceServiceImpl.java
Labels: lgtm, approved, ok-to-test

#526 add rouge metric
  explainability-core/src/main/java/org/kie/trustyai/metrics/language/rouge/ROUGE.java
  explainability-core/src/main/java/org/kie/trustyai/metrics/language/utils/F1Score.java
  explainability-core/src/main/java/org/kie/trustyai/metrics/language/utils/SentenceUtils.java
  explainability-core/src/test/java/org/kie/trustyai/metrics/language/rouge/ROUGETest.java
Labels: lgtm, approved, ok-to-test

#529 Update Quarkus from 3.2.9.Final to 3.2.11.Final
  explainability-core/src/main/java/org/kie/trustyai/metrics/language/rouge/ROUGE.java
  explainability-core/src/main/java/org/kie/trustyai/metrics/language/utils/F1Score.java
  explainability-core/src/main/java/org/kie/trustyai/metrics/language/utils/SentenceUtils.java
  explainability-core/src/test/java/org/kie/trustyai/metrics/language/rouge/ROUGETest.java
  explainability-service/pom.xml
  explainability-service/src/main/java/org/kie/trustyai/service/data/utils/ModelMeshInferencePayloadReconciler.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/consumer/ConsumerEndpointRawTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/explainers/local/LimeEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/mocks/MockInferenceServiceImpl.java
Labels: kind/bug, lgtm, approved, ok-to-test, dependencies

#531 RHOAIENG-4584: Properly shutdown channel after prediction request.
  explainability-connectors/src/main/java/org/kie/trustyai/connectors/kserve/v2/KServeV2GRPCPredictionProvider.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/explainers/global/AggregatedLimeEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/explainers/local/CounterfactualEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/explainers/local/LimeEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/explainers/local/ShapEndpointTest.java
Labels: kind/bug, lgtm, approved, ok-to-test

#534 RHOAIENG-4701: Get tensor data based on non-empty contents, instead of data type.
  explainability-connectors/src/main/java/org/kie/trustyai/connectors/kserve/v2/KServeV2GRPCPredictionProvider.java
  explainability-connectors/src/main/java/org/kie/trustyai/connectors/kserve/v2/TensorConverter.java
  explainability-connectors/src/test/java/org/kie/trustyai/connectors/kserve/v2/TensorConverterTest.java
  explainability-core/src/main/java/org/kie/trustyai/explainability/model/Output.java
Labels: kind/bug, lgtm, approved

#539 Correctly Fail CI on Test Failure
  tests/scripts/installandtest.sh
Labels: lgtm, approved, ok-to-test

#538 RHOAIENG-4761: Fix internal data being read whole when reading dataframe in batches
  explainability-service/src/main/java/org/kie/trustyai/service/data/DataSource.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/storage/BatchReader.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/storage/MemoryStorage.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/storage/MinioStorage.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/storage/PVCStorage.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/storage/StorageInterface.java
  explainability-service/src/test/java/org/kie/trustyai/service/data/DataSourceBaseTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/data/DataSourceMemoryTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/data/DataSourcePVCTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/data/DataSourceTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/data/metadata/legacy/v1/LegacyMetadataTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/data/storage/PVCStorageTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/data/storage/PVCTestProfile.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/consumer/CloudEventConsumerTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/consumer/ConsumerEndpointFormatsTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/consumer/ConsumerEndpointRawTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/consumer/ConsumerEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/data/DataEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/service/ServiceMetadataEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/mocks/MockDatasource.java
  explainability-service/src/test/java/org/kie/trustyai/service/profiles/MemoryTestProfile.java
  explainability-service/src/test/java/org/kie/trustyai/service/profiles/PVCTestProfile.java
  explainability-service/src/test/java/org/kie/trustyai/service/scenarios/batching/BatchingTestProfile.java
  explainability-service/src/test/java/org/kie/trustyai/service/scenarios/nodata/DisparateImpactRatioEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/scenarios/nodata/GroupStatisticalParityDifferenceEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/scenarios/nodata/ServiceMetadataEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/scenarios/nodata/StorageTest.java
Labels: kind/bug, lgtm, approved, ok-to-test

#540 RHOAIENG-4756: Service data batches for metrics calculations should account for synthetic data in its size
  explainability-service/src/main/java/org/kie/trustyai/service/data/DataSource.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/storage/BatchReader.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/storage/MemoryStorage.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/storage/MinioStorage.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/storage/PVCStorage.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/storage/Storage.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/storage/StorageFormat.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/storage/StorageInterface.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/utils/CSVUtils.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/utils/DownloadUtils.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/utils/InferencePayloadReconciler.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/utils/KServeInferencePayloadReconciler.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/utils/MetadataUtils.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/utils/ModelMeshInferencePayloadReconciler.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/utils/UploadUtils.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/metrics/fairness/group/DisparateImpactRatioEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/metrics/fairness/group/GroupEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/metrics/fairness/group/GroupStatisticalParityDifferenceEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/metrics/fairness/group/legacy/DisparateImpactRatioEndpointLegacy.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/metrics/fairness/group/legacy/GroupStatisticalParityDifferenceEndpointLegacy.java
  explainability-service/src/main/java/org/kie/trustyai/service/prometheus/PrometheusScheduler.java
  explainability-service/src/test/java/org/kie/trustyai/service/data/DataSourceBaseTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/consumer/CloudEventConsumerTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/consumer/ConsumerEndpointFormatsTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/consumer/ConsumerEndpointRawTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/consumer/ConsumerEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/data/DataEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/metrics/fairness/group/DisparateImpactRatioEndpointBaseTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/metrics/fairness/group/DisparateImpactRatioEndpointMemoryTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/metrics/fairness/group/DisparateImpactRatioEndpointPVCTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/metrics/fairness/group/DisparateImpactRatioRequestsEndpointBaseTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/metrics/fairness/group/DisparateImpactRatioRequestsEndpointMemoryTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/metrics/fairness/group/DisparateImpactRatioRequestsEndpointPVCTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/metrics/fairness/group/GroupStatisticalParityDifferenceEndpointBaseTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/metrics/fairness/group/GroupStatisticalParityDifferenceEndpointMemoryTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/metrics/fairness/group/GroupStatisticalParityDifferenceEndpointPVCTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/metrics/fairness/group/GroupStatisticalParityDifferenceRequestsEndpointBaseTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/metrics/fairness/group/GroupStatisticalParityDifferenceRequestsEndpointMemoryTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/metrics/fairness/group/GroupStatisticalParityDifferenceRequestsEndpointPVCTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/service/ServiceMetadataEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/mocks/MockDatasource.java
  explainability-service/src/test/java/org/kie/trustyai/service/scenarios/nodata/DisparateImpactRatioEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/scenarios/nodata/GroupStatisticalParityDifferenceEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/scenarios/nodata/ServiceMetadataEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/scenarios/nodata/StorageTest.java
Labels: kind/bug, lgtm, approved, ok-to-test

#541 RHOAIENG-4158: Update Apache Commons Compress version
  explainability-arrow/pom.xml
Labels: lgtm, approved, ok-to-test, dependencies
