Repository trustyai-explainability/trustyai-explainability, pull requests merged in 2024-10, with the labels that each got.

#628 Enhancement: ImageDrift Generalization
  explainability-core/src/main/java/org/kie/trustyai/explainability/model/tensor/Tensor.java
  explainability-core/src/main/java/org/kie/trustyai/explainability/utils/ImageUtils.java
  explainability-core/src/main/java/org/kie/trustyai/metrics/drift/image/ImageDrift.java
  explainability-core/src/main/java/org/kie/trustyai/metrics/drift/jensenshannon/JensenShannon.java
  explainability-core/src/main/java/org/kie/trustyai/metrics/drift/jensenshannon/JensenShannonBaseline.java
  explainability-core/src/main/java/org/kie/trustyai/metrics/drift/jensenshannon/JensenShannonDriftResult.java
  explainability-core/src/main/java/org/kie/trustyai/metrics/drift/utils/KLDivergence.java
  explainability-core/src/main/java/org/kie/trustyai/statistics/distance/KLDivergence.java
  explainability-core/src/test/java/org/kie/trustyai/explainability/model/tensor/TensorFactoryTest.java
  explainability-core/src/test/java/org/kie/trustyai/explainability/model/tensor/TensorTest.java
  explainability-core/src/test/java/org/kie/trustyai/metrics/drift/image/ImageDriftTest.java
  explainability-core/src/test/java/org/kie/trustyai/metrics/drift/jensenshannon/JensenShannonTest.java
  explainability-core/src/test/java/org/kie/trustyai/metrics/utils/ArrayGenerators.java
Labels: ok-to-test

#612 RHOAIENG-10826: Truncate drift request output to relevant fields
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/metrics/BaseEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/metrics/drift/DriftEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/metrics/drift/DriftMetricRequest.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/metrics/drift/ReadableDriftMetricRequest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/metrics/drift/ApproxKSTestEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/metrics/drift/KSTestEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/metrics/drift/fouriermmd/FourierMMDEndpointBaseTest.java
Labels: approved, ok-to-test

#613 Add unit test for /metrics endpoint
  explainability-service/src/main/java/org/kie/trustyai/service/prometheus/PrometheusPublisher.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/service/inferenceids/InferenceIdsServiceMetadataEndpointBaseTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/mocks/MockPrometheusScheduler.java
  explainability-service/src/test/java/org/kie/trustyai/service/profiles/flatfile/PVCPrometheusTestProfile.java
  explainability-service/src/test/java/org/kie/trustyai/service/profiles/hibernate/HibernatePrometheusTestProfile.java
  explainability-service/src/test/java/org/kie/trustyai/service/prometheus/BasePrometheusTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/prometheus/HibernatePrometheusTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/prometheus/PVCPrometheusTest.java
Labels: ok-to-test

#645 Bug Fix: Fix 1-row and very large cloudevent consumption
  explainability-service/src/main/java/org/kie/trustyai/service/data/utils/KServePayloadConverters.java
  explainability-service/src/main/resources/application.properties
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/consumer/cloudevent/CloudEventConsumerBaseTest.java
Labels: lgtm, approved, ok-to-test

#646 Move termination log in /tmp in test profile
  explainability-service/src/main/resources/application.properties
Labels: lgtm, approved, ok-to-test

#647 CI: Update to use ODH 2.18.2
  tests/Makefile
  tests/setup/operatorsetup
Labels: lgtm, approved, ok-to-test

#644 RHOAIENG-14041: Add Readiness and Liveness probes
  explainability-service/src/main/java/org/kie/trustyai/service/checks/DatabaseReadinessCheck.java
  explainability-service/src/main/java/org/kie/trustyai/service/checks/GeneralLivenessCheck.java
  explainability-service/src/main/java/org/kie/trustyai/service/checks/GeneralReadinessCheck.java
  explainability-service/src/main/resources/application.properties
Labels: kind/enhancement, lgtm, approved, ok-to-test

#648 RHOAIENG-11384: Re-enable bias endpoints in service
  explainability-service/src/main/resources/application.properties
Labels: kind/enhancement, lgtm, approved

#650 CI: Update images in overlays after build+push
  .github/workflows/build-and-push.yaml
Labels: lgtm, approved, ok-to-test

#652 Filter out MM Payload Metadata
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/consumer/ConsumerEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/consumer/partial/InferencePartialPayload.java
Labels: lgtm, approved, ok-to-test

#649 CI: Install kserve prereqs, clean up logging
  tests/Makefile
  tests/scripts/install.sh
  tests/scripts/installandtest.sh
  tests/scripts/setup.sh
  tests/setup/odh-core-dsc.yaml
  tests/setup/odh-core-dsci.yaml
  tests/setup/odh-core.yaml
  tests/setup/operatorsetup
Labels: lgtm, approved, ok-to-test

#653 CI: Add download check for all manifests
  tests/scripts/install.sh
Labels: approved, ok-to-test
