Repository trustyai-explainability/trustyai-explainability, pull requests merged in 2024-06, with the labels that each got.

#566 CI: Move openshift-ci image to ubi8
  tests/Dockerfile
Labels: lgtm, approved, ok-to-test

#477 TrustyAI CounterfactualExplainer tests timeouts
  explainability-core/pom.xml
  explainability-core/src/main/java/org/kie/trustyai/explainability/local/counterfactual/CounterfactualConfig.java
  explainability-core/src/main/java/org/kie/trustyai/explainability/local/counterfactual/CounterfactualExplainer.java
  explainability-core/src/main/java/org/kie/trustyai/explainability/local/counterfactual/score/DefaultCounterfactualScoreCalculator.java
  explainability-core/src/main/java/org/kie/trustyai/explainability/local/shap/background/StreamingGenerator.java
  explainability-core/src/test/java/org/kie/trustyai/explainability/ThreadDumpOnTimeoutExtension.java
  explainability-core/src/test/java/org/kie/trustyai/explainability/local/counterfactual/CounterfactualExplainerTest.java
  explainability-core/src/test/java/org/kie/trustyai/explainability/local/counterfactual/CounterfactualUtils.java
  explainability-core/src/test/java/org/kie/trustyai/explainability/local/shap/background/CounterfactualGeneratorTest.java
  explainability-core/src/test/java/org/kie/trustyai/explainability/local/shap/background/StreamingGeneratorTest.java
  explainability-core/src/test/java/org/kie/trustyai/explainability/utils/ValidationUtilsTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/metrics/UniversalListingEndpointTest.java
  pom.xml
Labels: lgtm, approved, ok-to-test

#572 CI: Trim installs, set stable stream for Authorino
  tests/Dockerfile
  tests/setup/operatorsetup
Labels: lgtm, approved, ok-to-test

#576 Remove data format as a mandatory field
  explainability-service/src/main/java/org/kie/trustyai/service/config/CustomServiceConfig.java
  explainability-service/src/main/java/org/kie/trustyai/service/config/ServiceConfig.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/datasources/CSVDataSource.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/datasources/HibernateDataSource.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/storage/hibernate/HibernateStorage.java
  explainability-service/src/test/java/org/kie/trustyai/service/mocks/MockServiceConfig.java
  explainability-service/src/test/java/org/kie/trustyai/service/profiles/flatfile/MemoryTestProfile.java
  explainability-service/src/test/java/org/kie/trustyai/service/profiles/flatfile/PVCTestProfile.java
  explainability-service/src/test/java/org/kie/trustyai/service/profiles/hibernate/HibernateTestProfile.java
Labels: approved

#578 Fix: Lower variance of ground-truth distribution in StreamingBackground tests
  explainability-core/src/test/java/org/kie/trustyai/explainability/local/shap/background/StreamingGeneratorTest.java
Labels: lgtm, approved, ok-to-test

#574 RHOAIENG-4962: Add HTTPS connection support
  explainability-service/src/main/resources/application.properties
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/explainers/ExplainersEndpointTestProfile.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/metrics/MetricsEndpointTestProfile.java
  explainability-service/src/test/java/org/kie/trustyai/service/profiles/MemoryTestProfile.java
  explainability-service/src/test/java/org/kie/trustyai/service/profiles/PVCTestProfile.java
Labels: kind/enhancement, lgtm, approved, ok-to-test

#577 RHOAIENG-8631: Add image data drift
  explainability-core/src/main/java/org/kie/trustyai/metrics/drift/image/ImageDrift.java
  explainability-core/src/main/java/org/kie/trustyai/metrics/drift/image/ImageDriftResult.java
  explainability-core/src/main/java/org/kie/trustyai/metrics/drift/utils/KLDivergence.java
  explainability-core/src/test/java/org/kie/trustyai/metrics/drift/image/ImageDriftTest.java
Labels: lgtm, approved, ok-to-test

#582 RHOAIENG-9007: Add inference ids metadata endpoint
  explainability-service/README.md
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/service/ServiceMetadataEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/service/InferenceId.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/service/InferenceIdsServiceMetadataEndpointBaseTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/service/InferenceIdsServiceMetadataEndpointMemoryTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/service/InferenceIdsServiceMetadataEndpointPVCTest.java
Labels: kind/enhancement, ok-to-test
