Repository trustyai-explainability/trustyai-explainability, pull requests merged in 2024-07, with the labels that each got.

#581 Remove SSL from dev profile
  explainability-service/src/main/resources/application-dev.properties
Labels: kind/bug, lgtm, approved, ok-to-test

#584 RHOAIENG-9421: Add explainer configuration to payloads
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/explainers/ExplainerEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/explainers/local/CounterfactualEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/explainers/local/LimeEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/explainers/local/LocalExplainerEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/explainers/local/SHAPEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/explainers/local/TSSaliencyEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/service/ServiceMetadataEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/explainers/CounterfactualExplanationRequest.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/explainers/GlobalExplanationRequest.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/explainers/LocalExplanationRequest.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/explainers/TimeSeriesRequest.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/explainers/config/ModelConfig.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/explainers/counterfactuals/CounterfactualExplainerConfig.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/explainers/counterfactuals/CounterfactualExplanationConfig.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/explainers/counterfactuals/CounterfactualExplanationRequest.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/explainers/lime/LimeExplainerConfig.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/explainers/lime/LimeExplanationConfig.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/explainers/lime/LimeExplanationRequest.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/explainers/shap/SHAPExplainerConfig.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/explainers/shap/SHAPExplanationConfig.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/explainers/shap/SHAPExplanationRequest.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/service/InferenceId.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/explainers/global/AggregatedLimeEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/explainers/global/PartialDependencePlotEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/explainers/local/CounterfactualEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/explainers/local/LimeEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/explainers/local/ShapEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/service/InferenceIdsServiceMetadataEndpointBaseTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/service/InferenceIdsServiceMetadataEndpointMemoryTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/service/InferenceIdsServiceMetadataEndpointPVCTest.java
Labels: kind/bug, kind/enhancement

#585 Update test image to latest UBI8, update ods-ci
  tests/Dockerfile
  tests/Makefile
  tests/basictests/perPR/trustyai_biased_models.sh
  tests/scripts/install.sh
  tests/scripts/setup.sh
Labels: ok-to-test

#587 RHOAIENG-9828: Update jandex plugin
  explainability-core/pom.xml
Labels: kind/bug, lgtm, approved, ok-to-test

#588 CI: Add checks to wait for OLM catalogs, only approve installplans from pinned ODH version
  tests/scripts/install.sh
  tests/scripts/installandtest.sh
  tests/scripts/setup.sh
  tests/setup/odh-core-dsc.yaml
  tests/setup/operatorsetup
Labels: approved, ok-to-test

#590 fix(dependencies): Move H2 to a test dep
  explainability-service/pom.xml
Labels: lgtm, approved, ok-to-test

#591 feat(service): Add explainer configuration to payloads
  explainability-core/src/main/java/org/kie/trustyai/explainability/local/lime/LimeConfig.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/explainers/ExplainerEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/explainers/local/LimeEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/explainers/local/SHAPEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/explainers/lime/LimeExplainerConfig.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/explainers/lime/LimeExplanationConfig.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/explainers/lime/LimeExplanationRequest.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/explainers/shap/SHAPExplainerConfig.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/explainers/shap/SHAPExplanationConfig.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/explainers/shap/SHAPExplanationRequest.java
  explainability-service/src/main/resources/application.properties
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/explainers/local/LimeEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/explainers/local/ShapEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/service/inferenceids/InferenceIdsServiceMetadataEndpointPVCTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/payloads/explainers/LIMEExplainerConfigTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/payloads/explainers/SHAPExplainerConfigTest.java
Labels: kind/enhancement, lgtm, approved, ok-to-test

#592 Add Kubernetes namespace validator for model targets
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/explainers/ExplainerEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/explainers/local/SHAPEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/validators/serviceRequests/LocalServiceURLValidator.java
  explainability-service/src/main/resources/application.properties
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/explainers/global/AggregatedLimeEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/explainers/local/CounterfactualEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/explainers/local/LimeEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/explainers/local/ShapEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/validators/LocalServiceURLValidatorTest.java
Labels: kind/bug, kind/enhancement, approved

#593 Support time-series inference ids and explainer endpoint
  explainability-core/src/main/java/org/kie/trustyai/explainability/local/tssaliency/TSSaliencyExplainer.java
  explainability-core/src/main/java/org/kie/trustyai/explainability/local/tssaliency/TSSaliencyModelWrapper.java
  explainability-core/src/main/java/org/kie/trustyai/explainability/local/tssaliency/TSSaliencyRunner.java
  explainability-core/src/main/java/org/kie/trustyai/explainability/local/tssaliency/TimeSeriesUtils.java
  explainability-core/src/test/java/org/kie/trustyai/explainability/local/tssaliency/TSSaliencyExplainerTest.java
  explainability-core/src/test/java/org/kie/trustyai/explainability/local/tssaliency/TSSaliencyModel.java
  explainability-core/src/test/java/org/kie/trustyai/explainability/local/tssaliency/TimeSeriesUtilsTest.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/explainers/local/TSSaliencyEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/explainers/config/ModelConfig.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/explainers/tssaliency/TSSaliencyExplainerConfig.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/explainers/tssaliency/TSSaliencyExplanationConfig.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/explainers/tssaliency/TSSaliencyExplanationRequest.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/explainers/tssaliency/TSSaliencyParameters.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/explainers/tssaliency/TSSaliencyRequest.java
  explainability-service/src/main/java/org/kie/trustyai/service/producers/SecureRandomProducer.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/explainers/local/LimeEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/explainers/local/TSSaliencyEndpointTest.java
Labels: kind/enhancement, lgtm, ok-to-test

#596 Migrate CI to ODH 2.15
  tests/scripts/install.sh
  tests/setup/odh-core-dsc.yaml
  tests/setup/operatorsetup
Labels: lgtm, approved, ok-to-test

#597 feat(service): Add timeout support for explainer endpoints
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/explainers/local/LimeEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/explainers/local/SHAPEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/explainers/local/TSSaliencyEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/explainers/BaseExplainerConfig.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/explainers/lime/LimeExplainerConfig.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/explainers/shap/SHAPExplainerConfig.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/explainers/tssaliency/TSSaliencyExplainerConfig.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/explainers/local/LimeEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/explainers/local/ShapEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/explainers/local/TSSaliencyEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/payloads/explainers/SHAPExplainerConfigTest.java
Labels: kind/enhancement, lgtm, approved

#595 Add Tensor data class
  explainability-core/src/main/java/org/kie/trustyai/explainability/model/tensor/Slice.java
  explainability-core/src/main/java/org/kie/trustyai/explainability/model/tensor/Tensor.java
  explainability-core/src/main/java/org/kie/trustyai/explainability/model/tensor/TensorFactory.java
  explainability-core/src/test/java/org/kie/trustyai/explainability/model/tensor/TensorFactoryTest.java
  explainability-core/src/test/java/org/kie/trustyai/explainability/model/tensor/TensorTest.java
Labels: lgtm, approved, ok-to-test

#602 Disable CF, TSSaliency explainers downstream
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/explainers/local/CounterfactualEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/explainers/local/LimeEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/explainers/local/SHAPEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/explainers/local/TSSaliencyEndpoint.java
  explainability-service/src/main/resources/application.properties
Labels: lgtm, approved, ok-to-test

#601 fix: InferenceLoggerOutput id must be String in order to work with KServe
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/consumer/InferenceLoggerOutput.java
Labels: kind/bug, lgtm, ok-to-test

#600 Clean /info response, remove value enumeration
  explainability-service/src/main/java/org/kie/trustyai/service/data/datasources/CSVDataSource.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/datasources/DataSource.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/datasources/HibernateDataSource.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/metadata/StorageMetadata.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/storage/hibernate/HibernateStorage.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/utils/MetadataUtils.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/service/ServiceMetadataEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/service/SchemaItem.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/service/ServiceMetadata.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/service/readable/ReadableSchema.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/service/readable/ReadableSchemaItem.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/service/readable/ReadableStorageMetadata.java
  explainability-service/src/test/java/org/kie/trustyai/service/data/metadata/StorageMetadataTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/data/storage/hibernate/migration/ComplexMigrationTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/explainers/local/ShapEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/explainers/local/TSSaliencyEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/service/metadata/ServiceMetadataEndpointBaseTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/scenarios/batching/TestBatching.java
  explainability-service/src/test/java/org/kie/trustyai/service/scenarios/nodata/ServiceMetadataEndpointTest.java
  explainability-service/src/test/java/org/kie/trustyai/service/utils/ResourceReader.java
  explainability-service/src/test/resources/expected_metadata_output.txt
Labels: lgtm, approved, ok-to-test

#603 Clean, organize, and expand OpenAPI tags
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/consumer/ConsumerEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/data/UploadEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/explainers/global/AggregatedLimeEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/explainers/global/PartialDependencePlotEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/explainers/local/CounterfactualEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/explainers/local/LimeEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/explainers/local/SHAPEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/explainers/local/TSSaliencyEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/metrics/BaseEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/metrics/UniversalListingEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/metrics/drift/ApproxKSTestEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/metrics/drift/DriftEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/metrics/drift/FourierMMDEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/metrics/drift/KSTestEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/metrics/drift/MeanshiftEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/metrics/fairness/group/DisparateImpactRatioEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/metrics/fairness/group/GroupEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/metrics/fairness/group/GroupStatisticalParityDifferenceEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/metrics/fairness/group/legacy/DisparateImpactRatioEndpointLegacy.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/metrics/fairness/group/legacy/GroupStatisticalParityDifferenceEndpointLegacy.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/metrics/identity/IdentityEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/service/ServiceMetadataEndpoint.java
Labels: lgtm, approved, ok-to-test

#605 feat(service): Set maximum concurrent request to gRPC
  explainability-connectors/src/main/java/org/kie/trustyai/connectors/kserve/v2/KServeConfig.java
  explainability-connectors/src/main/java/org/kie/trustyai/connectors/kserve/v2/KServeV2GRPCPredictionProvider.java
  explainability-connectors/src/test/java/org/kie/trustyai/connectors/kserve/v2/KServeV2HTTPPayloadParserTest.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/consumer/ConsumerEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/explainers/ExplainerEndpoint.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/consumer/cloudevent/CloudEventConsumerBaseTest.java
Labels: kind/enhancement, lgtm, approved, ok-to-test

#606 fix: Jackson version update 2.13 -> 2.15
  explainability-arrow/pom.xml
  explainability-service/demo/logger/requirements-generator.txt
  pom.xml
Labels: kind/enhancement, lgtm, dependencies

#607 RHOAIENG-10552: Inference id endpoint should return all ids, not just the latest
  explainability-service/src/main/java/org/kie/trustyai/service/data/datasources/CSVDataSource.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/datasources/DataSource.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/datasources/HibernateDataSource.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/parsers/CSVParser.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/parsers/DataParser.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/storage/BatchReader.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/storage/StorageInterface.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/storage/flatfile/FlatFileStorage.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/storage/flatfile/MemoryStorage.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/storage/flatfile/MinioStorage.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/storage/flatfile/PVCStorage.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/storage/hibernate/HibernateStorage.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/explainers/local/LimeEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/explainers/local/SHAPEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/service/ServiceMetadataEndpoint.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/service/inferenceids/InferenceIdsServiceMetadataEndpointBaseTest.java
Labels: kind/bug, kind/enhancement, lgtm, ok-to-test

#609 KServe batching support, unification of KServe payload processing
  explainability-connectors/src/main/java/org/kie/trustyai/connectors/kserve/v2/TensorConverter.java
  explainability-core/src/main/java/org/kie/trustyai/explainability/local/tssaliency/TimeSeriesUtils.java
  explainability-core/src/main/java/org/kie/trustyai/explainability/model/SerializableObject.java
  explainability-core/src/main/java/org/kie/trustyai/explainability/model/UnderlyingObject.java
  explainability-core/src/main/java/org/kie/trustyai/explainability/model/Value.java
  explainability-core/src/main/java/org/kie/trustyai/explainability/model/domain/ObjectFeatureDomain.java
  explainability-core/src/main/java/org/kie/trustyai/explainability/model/tensor/Tensor.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/reconcilers/InferencePayloadReconciler.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/reconcilers/KServeInferencePayloadReconciler.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/reconcilers/ModelMeshInferencePayloadReconciler.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/utils/KServePayloadConverters.java
  explainability-service/src/main/java/org/kie/trustyai/service/data/utils/UploadUtils.java
  explainability-service/src/main/java/org/kie/trustyai/service/endpoints/data/UploadEndpoint.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/consumer/InferenceLoggerInput.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/consumer/InferenceLoggerInputV2.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/consumer/InferenceLoggerOutput.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/consumer/InferenceLoggerOutputObject.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/consumer/upload/ModelInferJointPayload.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/consumer/upload/ModelInferRequestPayload.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/consumer/upload/ModelInferResponsePayload.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/consumer/upload/TensorPayload.java
  explainability-service/src/main/java/org/kie/trustyai/service/payloads/consumer/upload/UploadUtils.java
  explainability-service/src/test/java/org/kie/trustyai/service/endpoints/consumer/cloudevent/CloudEventConsumerBaseTest.java
Labels: lgtm, approved, ok-to-test
